<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title></title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="__PUBLIC__/home/assets/images/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/bootstrap.min.css">

    <!--====== Pe Icon 7 Stroke css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/Pe-icon-7-stroke.css">

    <!--====== Ion Icons css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/kaoyan/css/bootstrap.css">
		<link rel="stylesheet" href="__PUBLIC__/home/kaoyan/css/main.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/animate.min.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/nice-select.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/english/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/english/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/english/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/english/styles/courses.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/english/styles/courses_responsive.css">
<style>
.button {
    background-color: pink;
    border: none;
  
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

</head>

<body>

    <!--====== PRELOADER  PART START ======-->

    <div id="preloader">
        <div id="loader">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <!--====== PRELOADER  PART ENDS ======-->

    <!--====== SEARCH PART START ======-->

    <div class="search-box">
        <div class="search-header">
            <div class="container mt-60">
                <div class="row">
                    <div class="col-6">
                        <h5 class="search-title">Search</h5> <!-- search title -->
                    </div>
                    <div class="col-6">
                        <div class="search-close text-right">
                            <button class="search-close-btn">Close <span></span><span></span></button>
                        </div> <!-- search close -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- search header -->
        <div class="search-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="search-form">
                            <form action="#">
                                <input type="text" placeholder="Search for Products">
                                <button><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- search body -->
    </div>

    <!--====== SEARCH PART ENDS ======-->

    <!--====== SHOPPING CART PART START ======-->

    <div class="shopping-cart-wrapper">
        <div class="shopping-cart-canvas">
            <div class="shopping_cart">
                <div class="shopping_cart-top-bar d-flex justify-content-between">
                    <h6>欢迎您！{$userinfo.sname}</h6>
                    <button class="shopping-cart-close">
                        <i class="ion ion-md-add"></i>
                    </button>
                </div>
                <div class="shopping_cart-list-items mt-30">
                    <if condition="$userinfo.spic eq 0 "><img  width="200px" height="200px" src="__PUBLIC__/Uploads/stuPic/11.jpg" alt=""/>
										<else /><img  width="200px" height="200px" src="__PUBLIC__/Uploads/stuPic/{$userinfo.spic}" />
										</if>
                </div> <!-- shopping_cart list items -->
                <div class="shopping_cart-btn">
                    <div class="total pt-35 d-flex justify-content-between">
                        <h5>学号:</h5>
                        <p>{$userinfo.sno}</p>
                    </div>
                    <div class="cart-btn pt-25">
                        <a class="main-btn"  href="{:u('Stusercenter/index')}">我的中心</a>
                        
                    </div>
                </div>
            </div> 
        </div>
        <div class="overlay"></div>
    </div>

    <!--====== SHOPPING CART PART ENDS ======-->

    <!--====== HEADER  PART START ======-->

  
        <div class="navigation fixed-top">
            <div class="container-fluid pl-60 pr-60">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img src="__PUBLIC__/home/assets/images/logo-4.png" alt="Logo" width="120px" height="50px">
                            </a> <!-- Logo -->

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button> <!-- navbar-toggler -->

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="{:u('zhuye/index')}">首页</a>
                                  
                                    </li>
                                    <li class="nav-item"><a href="{:u('kaoyan/index')}">考研</a></li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{:u('class/index')}">课程</a>
                                       
                                    </li>
                                    <li class="nav-item">
                                    <a class="page-scroll" href="{:u('job/index')}">就业</a>
                                        
                                    </li>
                                    <li class="nav-item"><a class="page-scroll" href="{:u('discuss/index')}">讨论</a></li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{:u('job/index')}">四六级</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="navbar-icon d-none d-sm-block">
                                <ul>
                                    <li><a class="search-open" href="#"><i class="pe-7s-search"></i></a></li>
                                    <li><a class="shopping-cart-open" href="#"><i class="pe-7s-cart"></i></a></li>
                                </ul>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
  

    <!--====== HEADER  PART ENDS ======-->
<div class="banner-a">
<div class="super_container main-wrapper-first">
	<!-- Courses -->

	<div class="courses">
		<div class="container">
			<div class="row">

				<!-- Courses Main Content -->
				<div class="col-lg-10">
					
					<div class="courses_container">
						<div class="row courses_row">
							 <foreach name="list3" item="v">
							<!-- Course -->
							<div class="col-lg-6 course_col">
								<div class="course">
									<div class="course_image"><img src="__PUBLIC__/Uploads/couPic/{$v.tpic}" alt=""></div>
									<div class="course_body">
										<h3 class="course_title"><a href="{:U('english/detail','tid='.$v['tid'])}">{$v.tname}</a></h3>
										<div class="course_teacher">{$v.teachername}</div>
										<div class="course_text">
											<p>{$v.tprofile|msubstr=0,20,'utf-8',true}</p>
										</div>
									</div>
									<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a class="button" href="{:U('Stusercenter/addcollecttj','s='.$v['tno'])}">收藏</a>
									<a class="button" href="{:U('Stusercenter/addcoursetj','s='.$v['tno'])}">选课</a>
								
								</div>
								</div>
							</div>
							</foreach>

							

							
							

						</div>
						<div font-size="20px" align='right'>
						{$page3}
						</div>
					</div>
				</div>

				
				</div>
			</div>
		</div>
	</div>	
</div>



</div> <!-- banner area -->
       
    <!--====== BACK TO TOP ======-->
    <div class="back-to-top">
        <a href="">
            <i class="ion ion-md-arrow-up"></i>
        </a>
    </div>
    <!--====== BACK TO TOP ======-->



    <!--====== jquery js ======-->
    <script src="__PUBLIC__/home/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="__PUBLIC__/home/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="__PUBLIC__/home/assets/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/home/assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="__PUBLIC__/home/assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="__PUBLIC__/home/assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="__PUBLIC__/home/assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="__PUBLIC__/home/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="__PUBLIC__/home/assets/js/jquery.nice-select.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="__PUBLIC__/homeadmin/assets/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="__PUBLIC__/home/assets/js/main.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
<script src="__PUBLIC__/home/english/styles/bootstrap4/popper.js"></script>
<script src="__PUBLIC__/home/english/styles/bootstrap4/bootstrap.min.js"></script>
<script src="__PUBLIC__/home/english/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="__PUBLIC__/home/english/plugins/easing/easing.js"></script>
<script src="__PUBLIC__/home/english/plugins/parallax-js-master/parallax.min.js"></script>
<script src="__PUBLIC__/home/english/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="__PUBLIC__/home/english/js/courses.js"></script>

</body>

</html>
