
body {
  line-height: 25px;
  font-size: 16px;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  color: #777777; 
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222; }


a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.section_gap {
  padding: 120px 0; }
  @media (max-width: 991px) {
    .section_gap {
      padding: 60px 0; } }

.main_title {
  text-align: center;
  margin-bottom: 75px; 
  }

.lite_bg {
  background: #f9f9f9; 
  
  }
.gradient-bg, #search_input_box, .header-top .header-top-right a:hover, .single_feature:nth-child(3), .single_department:hover, .single_course .course_content .course_meta .price, .testimonial_area .owl-thumb-item.active .overlay-grad, .testimonial_area .owl-thumb-item .overlay-grad:hover, .testimonial_area .owl-thumb-item .overlay-grad.active, .registration_area, .categories_post:hover .categories_details, .blog_right_sidebar .widget_title, .blog_right_sidebar .search_widget .input-group .form-control, .blog_right_sidebar .newsletter_widget .bbtns, .blog_right_sidebar .tag_cloud_widget ul li a:hover, .blog-pagination .page-item.active .page-link, .blog-pagination .page-link:hover, .comments-area .btn-reply:hover, .blog_btn:hover, .footer-area .footer-bottom .footer-social a:hover {
  background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); }

.gradient-bg2, .single_feature:nth-child(1), .single_course .course_content .course_meta .price.df_color1 {
  background: -webkit-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: -moz-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: -ms-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: -o-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: linear-gradient(90deg, #e94086 0%, #e5925a 100%); }

.gradient-bg3, .single_feature:nth-child(2), .single_course .course_content .course_meta .price.df_color2 {
  background: -webkit-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: -moz-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: -ms-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: -o-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: linear-gradient(90deg, #7349cc 0%, #e163e4 100%); }

.primary-btn {
  display: inline-block;
  background: -webkit-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: -moz-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: -ms-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: -o-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background-size: 200% auto;
  padding: 0px 38px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 50px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.3);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .primary-btn:hover {
    background-position: right center;
    color: #fff;
    box-shadow: none; }

.popular_courses {
  padding: 0px 0 0px; }
  @media (max-width: 991px) {
    .popular_courses {
      padding: 0px 0 0px; } }

.single_course {
    margin-bottom: 42px; 
    width:280px;
	height:250px;
	margin: 30px 20px 30px 54px;
	border:solid;
	border-width: 1px;
	border-color: #CCC;
	float:left;
  }
 
  .single_course .course_head {
    position: relative;
    overflow: hidden; }
    .single_course .course_head.overlay:after {
      background: #000;
      opacity: 0.2;
      z-index: 1; }
	  
    .single_course .course_head .authr_meta {
      position: absolute;
      bottom: 15px;
      left: 15px;
      z-index: 2; }
      .single_course .course_head .authr_meta span {
        color: #fff;
        padding-left: 10px; }
      .single_course .course_head .authr_meta img {
        margin-top: -8px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
		
    .single_course .course_head img {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
	    	    
  .single_course .course_content {
    padding-top: 30px; }
    .single_course .course_content h4 a {
      color: #222222; }
    .single_course .course_content p {
      margin: 0; }
    .single_course .course_content .course_meta {
      margin-top: 25px; }
      .single_course .course_content .course_meta .meta_info {
        margin-right: 25px; }
        .single_course .course_content .course_meta .meta_info a {
          color: #222222; }
        .single_course .course_content .course_meta .meta_info i.lnr {
          padding-right: 5px; }
      .single_course .course_content .course_meta .price {
        padding: 10px 24px;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.2); }
        .single_course .course_content .course_meta .price.df_color1 {
          box-shadow: 0px 20px 50px rgba(233, 62, 135, 0.2); }
        .single_course .course_content .course_meta .price.df_color2 {
          box-shadow: 0px 20px 50px rgba(115, 73, 204, 0.2); }
		  
/* Start Courses Details Area css
============================================================================================ */
.course_details_area .title {
  font-size: 21px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 22px; }
  .course_details_area .title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 74px;
    background: #4dbf1c; }

.course_details_left .course_list {
  margin-bottom: 0; }
  @media (max-width: 575px) {
    .course_details_left .course_list {
      padding-left: 0; } }
  .course_details_left .course_list li {
    list-style: none;
    margin-bottom: 20px; }
    .course_details_left .course_list li .primary-btn {
      background: #f9f9f9;
      color: #777777;
      box-shadow: none;
      font-size: 12px; }
      .course_details_left .course_list li .primary-btn:hover {
        background: #00aee0;
        color: #ffffff;
        box-shadow: 0px 10px 30px rgba(0, 175, 224, 0.3); }
      @media (max-width: 575px) {
        .course_details_left .course_list li .primary-btn {
          min-width: 100px;
          font-size: 10px;
          padding: 0 10px; } }
    .course_details_left .course_list li:last-child {
      margin-bottom: 0; }

@media (max-width: 991px) {
  .right-contents {
    margin-top: 50px; } }
.right-contents ul {
  padding-left: 0; }
  .right-contents ul li {
    list-style: none;
    background: #f9f9f9;
    padding: 10px 22px;
    margin-bottom: 10px; }
    .right-contents ul li a {
      color: #777777;
      text-align: left; }
      .right-contents ul li a p {
        margin-bottom: 0px; }
    .right-contents ul li .or {
      color: #222222; }
.right-contents .enroll {
  margin-top: 10px;
  width: 100%; }
.right-contents .reviews span,
.right-contents .reviews .star {
  width: 31%;
  margin-bottom: 10px; }
.right-contents .avg-review {
  background: #04091e;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0px; }
  .right-contents .avg-review span {
    font-size: 18px;
    color: #00aee0; }
  @media (max-width: 991px) {
    .right-contents .avg-review {
      margin-bottom: 20px; } }
@media (max-width: 1024px) {
  .right-contents .single-reviews .thumb {
    margin-right: 10px; } }
.right-contents .single-reviews h5 {
  display: inline-flex; }
  @media (max-width: 1024px) {
    .right-contents .single-reviews h5 {
      display: block; } }
  .right-contents .single-reviews h5 .star {
    margin-left: 10px; }
    @media (max-width: 1024px) {
      .right-contents .single-reviews h5 .star {
        margin: 10px 0; } }
.right-contents .feedeback {
  margin-top: 30px; }
  .right-contents .feedeback textarea {
    resize: none;
    height: 130px;
    background: #f1f9ff; }
    .right-contents .feedeback textarea:focus {
      box-shadow: none; }
.right-contents .star .checked {
  color: #4dbf1c; }
.right-contents .comments-area {
  padding: 0;
  border: 0;
  background: transparent; }
  .right-contents .comments-area .star {
    margin-left: 20px; }

/* End  Courses Details Area css
============================================================================================ */


 .comments-area .thumb {
    margin-right: 20px; }

b, sup, sub, u, del {
  color: #f8b600; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }