<layout name="layout" />
<p><span style="border-right:4px solid gray;margin-right:5px;padding-left:10px;"></span>
    <font color="#8AAEB8" size="4">就业信息</font> &gt;<font color="#8AAEB8">公司信息</font>
    &gt;<font color="#8AAEB8">添加公司信息</font>
</p>
<hr style="margin-top: 10px;margin-bottom: 0px;border-top: 2px solid #8AAEB8;"/>

<div style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="newsTitle">请输入公司名</label>
                    <input type="text" class="form-control" name="gname" id="newsTitle" />
                </div>
                <div class="form-group">
                    <label for="newsTitle">请输入员工数</label>
                    <input type="text" class="form-control" name="gnumber" id="newsTitle" />
                </div>
                <div class="form-group">
                    <label for="newsTitle">请输入创始人姓名</label>
                    <input type="text" class="form-control" name="gfounder" id="newsTitle" />
                </div>
                <div class="form-group">
                    <label for="newsTitle">请输入公司地点</label>
                    <input type="text" class="form-control" name="glocation" id="newsTitle" />
                </div>
                <div class="form-group">
                    <label for="newContent">请输入公司简介</label>
                    <textarea type="text" rows="4" class="form-control" name="gprofile" id="newsContent" ></textarea>
                </div>
                <div class="form-group">
                    <label for="newContent">请输入经营范围</label>
                    <textarea type="text" rows="4" class="form-control" name="gearn" id="newsContent" ></textarea>
                </div>
                <div class="form-group">
                    <label for="newContent">请输入经营理念</label>
                    <textarea type="text" rows="4" class="form-control" name="glinian" id="newsContent" ></textarea>
                </div>
                <div class="form-group">
                    <label for="newContent">请输入公司历程</label>
                    <textarea type="text" rows="4" class="form-control" name="glicheng" id="newsContent" ></textarea>
                </div>
               <div class="form-group">
                    <label for="newContent">请选择公司图片</label>
                   <input name="gpic" type="file" value="" size="58"/>
                </div>
                <a class="btn btn-default" href="__CONTROLLER__/firminfo" >取消</a>
                <button type="submit" class="btn btn-default">确认</button>
            </form>
        </div>
        <div class="col-xs-2 col-sm-2">
            <p style="margin-top: 35px;font-size: 18px">*</p>
            <p style="margin-top: 48px;font-size: 18px">*</p>
            <p style="margin-top: 70px;font-size: 18px">*</p>
        </div>
    </div>
</div>

<style type="text/css">
    .viewNews{
        background-color: mediumvioletred;
    }
</style>