<layout name="layout" />
<p><span style="border-right:4px solid gray;margin-right:5px;padding-left:10px;"></span>
    <font color="#8AAEB8" size="4">关于我们</font> &gt;<font color="#8AAEB8">关于我们</font> </p>
<hr style="margin-top: 10px;margin-bottom: 0px;border-top: 2px solid #8AAEB8;"/>

<div style="margin-top: 20px;text-align: center;padding-top: 70px;color: #8AAEB8">
    <h3>您好，这里是校园失物招领后台管理系统</h3>
    <h4>Hello, this is the backstage management system of lost and found on campus</h4>
    <br />
    <p>了解详细信息可以阅读本系统参照手册</p>
    <p>For detailed information, please read the system reference manual</p>
</div>

<style type="text/css">
    .aboutUs{
        background-color: mediumvioletred;
    }
</style>