<layout name="layout" />
<p><span style="border-right:4px solid gray;margin-right:5px;padding-left:10px;"></span>
    <font color="#8AAEB8" size="4">新闻管理</font> &gt;<font color="#8AAEB8">帖子信息</font> </p>
<hr style="margin-top: 10px;margin-bottom: 0px;border-top: 2px solid #8AAEB8;"/>
<div style="margin-top: 20px">
    <form action="" method="post">
        <div class="form-group">
            <label for="id" style="color: #8AAEB8">输入要查看帖子的类型（return/find）</label>
            <input style="width: 50%;" type="text" class="form-control" name="search" id="id" placeholder="Please enter the type of post you want to view">
        </div>

        <button type="submit" class="btn btn-default">搜索</button>
    </form>

    <div >
        <table class="table table-hover" style="color: #8AAEB8">
            <thead>
            <tr>
                <th>{$array[0]}</th>
                <th>{$array[1]}</th>
                <th>{$array[2]}</th>
                <th>{$array[3]}</th>
                <th>{$array[4]}</th>
            </tr>
            </thead>
            <foreach name="data1" item="v">
                <tr >
                    <td>{$v.rid}</td>
                    <td>{$v.rpname}</td>
                    <td>{$v.rpicture}</td>
                    <td>{$v.isReturned}</td>
                    <td>{$v.isflag}</td>
                    <td><a href="__CONTROLLER__/detailPostInfo/type/{$type}?id={$v.rid}" >{$a}</a></td>
                </tr>
            </foreach>
            <foreach name="data2" item="v">
                <tr >
                    <td>{$v.fid}</td>
                    <td>{$v.fname}</td>
                    <td>{$v.fpicture}</td>
                    <td>{$v.isfind}</td>
                    <td>{$v.isflag}</td>
                    <td><a href="__CONTROLLER__/detailPostInfo/type/{$type}?id={$v.fid}" >{$a}</a></td>
                </tr>
            </foreach>
        </table>
        <div class="pagelist">
            {$page}
        </div>
    </div>
</div>
<style type="text/css">
    .postInfo{
        background-color: mediumvioletred;
    }
</style>