<layout name="layout" />
<p><span style="border-right:4px solid gray;margin-right:5px;padding-left:10px;"></span>
    <font color="#8AAEB8" size="4">公共信息</font> &gt;<font color="#8AAEB8">推荐书籍</font>
</p>
<hr style="margin-top: 10px;margin-bottom: 0px;border-top: 2px solid #8AAEB8;"/>

<div style="margin-top: 20px">
    <table class="table table-hover" style="color:#8AAEB8">
        <thead>
            <tr>
                <th>id</th>
                 <th>书名</th>
                <th>书籍价格</th>
                
            </tr>
        </thead>
        <tbody style="color: #8AAEB8">
           <foreach name="list" item="v">
               <tr>
                   <td>{$v.sid}</td>
                   <td>{$v.sname}</td>
                   <td>{$v.sprice}</td>
                   
                   <td><a href="__CONTROLLER__/deleteBoo/nid/{$v.sid}" >删除...</a>/&nbsp;
                   		<a href="__CONTROLLER__/addbook/nid/{$v.sid}" >添加...</a>
                   </td>
               </tr>
           </foreach>
        </tbody>
    </table>
    <div class="pageList" style="margin-left: 500px;">
        {$page}
    </div>
</div>

<style type="text/css">
    .viewNews{
        background-color: mediumvioletred;
    }
</style>