<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link href="__PUBLIC__/admin/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__/admin/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="__PUBLIC__/admin/css/login.css" rel="stylesheet">
</head>
<body>
<div class="context">
    <div class="container" style="text-align: center">
        <h1 align="center">Welcome</h1>
        <form class="form" action="" method="post">
            <input class="input" type="text"  name="username" placeholder="请输入账号"/>
            <input class="input" type="password"  name="password" placeholder="请输入密码"/>
            <div class="verify">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <img src="__CONTROLLER__/captcha" id="img" onclick="img.src='__CONTROLLER__/captcha?rand='+Math.random()" />
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <input type="text"  class="captcha"  name="captcha" placeholder="请输入验证码"/>
                    </div>
                </div>
            </div>
            <br />
            <input class="button" type="submit" value="提交登录" />
        </form>
    </div>
</div>
</body>
</html>