<layout name="layout" />
<p><span style="border-right:4px solid gray;margin-right:5px;padding-left:10px;"></span>
    <font color="#8AAEB8" size="4">新闻管理</font> &gt;<font color="#8AAEB8">增加新闻</font> </p>
<hr style="margin-top: 10px;margin-bottom: 0px;border-top: 2px solid #8AAEB8;"/>
<div style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <form action="" method="post" style="color: #8AAEB8">
                <div class="form-group">
                    <label for="newsTitle">请输入新闻标题</label>
                    <input type="text" class="form-control" name="ntitle" id="newsTitle" placeholder="Please input news title"  />
                </div>
                <div class="form-group">
                    <label for="newsAuthor">请输入作者名字</label>
                    <input type="text" class="form-control" name="nauthor" id="newsAuthor" placeholder="Please input author" />
                </div>
                <div class="form-group">
                    <label for="newContent">请输入新闻内容</label>
                    <textarea type="text" rows="5" class="form-control" name="ncontent" id="newsContent" placeholder="Please input news content" ></textarea>
                </div>

                <button type="submit" class="btn btn-default" onclick="return isPassword();">提交</button>
            </form>
        </div>
        <div class="col-xs-2 col-sm-2">
            <p style="margin-top: 35px;font-size: 18px">*</p>
            <p style="margin-top: 48px;font-size: 18px">*</p>
            <p style="margin-top: 70px;font-size: 18px">*</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function isPassword() {
        var str = document.getElementById('newsTitle').value.trim();
        var str1 = document.getElementById('newsAuthor').value.trim();
        var str2 = document.getElementById('newsContent').value.trim();
        if (str=='' ||str1=='' ||str2=='' ){
            alert("带*字段不能为空!");
            return false;
        }

    }
</script>

<style type="text/css">
    .addNews{
        background-color: mediumvioletred;
    }
</style>