<html>
<head>
    <meta charset="UTF-8">
    <title>详细新闻信息</title>
    <link href="__PUBLIC__/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body style="padding-top:30px;background-color: #F2F2F2;">
    <div class="container">
        <p><span style="border-right:4px solid gray;margin-right:5px;padding-left:10px;"></span>
            <font color="#8AAEB8" size="4">新闻管理</font> &gt;<font color="#8AAEB8">查看新闻</font>
            &gt;<font color="#8AAEB8">详细信息</font>
        </p>
        <hr style="margin-top: 10px;margin-bottom: 0px;border-top: 2px solid #8AAEB8;"/>

        <div class="container" style="margin-top:15px;text-align: center;color:#8AAEB8 ">
            <h3>{$data.ntitle}</h3>
            <p>作者：{$data.nauthor}</p>
            <p>发行日期：{$data.ntime}</p>
            <br />
            <br />
            <p>{$data.ncontent}</p>
            <a class="btn" href="__CONTROLLER__/viewNews">返回</a>
            <a class="btn" href="__CONTROLLER__/alterNews/nid/{$data.nid}">修改</a>
            <a class="btn" href="__CONTROLLER__/deleteNews/nid/{$data.nid}">删除</a>
        </div>
        <style type="text/css">
            .viewNews{
                background-color: mediumvioletred;
            }
        </style>
    </div>
</body>
</html>
